<div class="navbar-vin">
  <%= link_to cellars_path do %>
  <h1 class="navbar-font">Les caves de Jean L.</h1>
  <% end %>
  <%= link_to vins_path do %>
  <div class="addwine">
  <%=  image_tag "bouteille.png"%>
  </div>
  <% end %>
</div>

<h1> <%= @cellar.name  %></h1>


<%= link_to "Retourner à la liste de caves", cellars_path %>


<p>Ajouter un vin référencé à votre cave</p>

<p>Tous les bouteilles de ma cave</p>

<ul><% @cellar.bouteilles.each do |b| %>
  <li>
    <%= b.millesime %>
  </li>
<% end %>
</ul>
