

<div class= "wine_recap_cambou">

  <div class = "cellar_info">
    <% vin_rouge = [] %>
    <% @bouteilles.each do |b| %>
      <% if b.vin.categorie == "Vin" && b.vin.couleur == "rouge" && b.statut == nil %>
        <% vin_rouge << b %>
      <% end %>
    <% end %>
  <div class = "number_bottle" >  <%= vin_rouge.length %> </div>

  <div class = "bottle_category"> Vins Rouges </div>
  </div>

  <div class = "cellar_info">
    <% vin_blanc = [] %>
    <% @bouteilles.each do |b| %>
      <% if b.vin.categorie == "Vin" && b.vin.couleur == "blanc" && b.statut == nil  %>
        <% vin_blanc << b %>
      <% end %>
    <% end %>
  <div class = "number_bottle"> <%= vin_blanc.length %> </div>
  <div class = "bottle_category"> Vins Blancs </div>
  </div>

  <div class = "cellar_info">
    <% vin_rose = [] %>
    <% @bouteilles.each do |b| %>
      <% if b.vin.categorie == "Vin" && b.vin.couleur == "rosé" && b.statut == nil %>
        <% vin_rose << b %>
      <% end %>
    <% end %>
  <div class = "number_bottle"> <%= vin_rose.length %> </div>
  <div class = "bottle_category"> Vins Rosés </div>
  </div>

  <div class = "cellar_info">
    <% champagne = [] %>
    <% @bouteilles.each do |b| %>
      <% if b.vin.categorie == "Champagne" && b.statut == nil %>
        <% champagne << b %>
      <% end %>
    <% end %>
  <div class = "number_bottle"> <%= champagne.length %> </div>
  <div class = "bottle_category"> Champagnes </div>
  </div>

  <div class = "cellar_info">
    <% petillant = [] %>
    <% @bouteilles.each do |b| %>
      <% if b.vin.categorie == "Petillant" && b.statut == nil %>
        <% petillant << b %>
      <% end %>
    <% end %>
  <div class = "number_bottle"> <%= petillant.length %> </div>
  <div class = "bottle_category"> Vins Pétillants </div>
  </div>

</div>

<!-- ================================ci-dessous Les listes de vins
 -->

<div class="wine_list">

  <ul class="responsive-table">
      <li class="table-header">
        <div class="colonne-1">Vins Rouges de <%= @cellar.name %></div>
        <div class="col-2">Domaine</div>
        <div class="col-3">Millesime</div>
        <div class="col-4">Apogée</div>
        <div class="col-5"></div>
      </li>
      <% @cellar.bouteilles.each do |b| %>
      <% if b.statut == nil %>
      <% if b.vin.categorie == "Vin" && b.vin.couleur == "rouge" %>
      <li class="table-row">
        <div class="colonne-1" data-label="Job Id"><%= b.vin.localite  %> <%= b.vin.appellation  %> </div>
        <div class="col-2" data-label="Customer Name"> <%= b.vin.domaine  %></div>
        <div class="col-3" data-label="Amount"> <%= b.millesime  %></div>
        <div class="col-4" data-label="Payment Status">
          <% if b.vin.categorie == "Vin" && b.vin.localite =="Loire Rouge" %>
            <%= b.millesime.to_i + 5 %> "+/- 1 an"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Bordeaux Rouge" %>
            <%= b.millesime.to_i + 7 %> "+/- 3 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Bordeaux Grands Crus" %>
            <%= b.millesime.to_i + 15 %> "+/- 5 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Sud-Ouest" %>
            <%= b.millesime.to_i + 7 %> "+/- 3 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Languedoc et Provence" %>
            <%= b.millesime.to_i + 6 %> "+/- 2 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Côtes du Rhône" %>
            <%= b.millesime.to_i + 5 %> "+/- 1 an"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Côtes du Rhône Grands Crus" %>
            <%= b.millesime.to_i + 15 %> "+/- 5 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Beaujolais" %>
            <%= b.millesime.to_i + 4 %>
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Bourgogne - Saône et Loire" %>
            <%= b.millesime.to_i + 7 %> "+/- 3 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Bourgogne - Côte d'Or" %>
            <%= b.millesime.to_i + 15 %> "+/- 5 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Espagne Rouge" %>
            <%= b.millesime.to_i + 7 %> "+/- 3 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Italie Rouge" %>
            <%= b.millesime.to_i + 12 %> "+/- 3 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Amérique du Sud Rouge" %>
            <%= b.millesime.to_i + 8 %> "+/- 2 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Californie Rouge" %>
            <%= b.millesime.to_i + 8 %> "+/- 2 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Australie Rouge" %>
            <%= b.millesime.to_i + 8 %> "+/- 2 ans"
          <% else %>
            --
          <% end %>
        </div>
        <div class="col-5" data-label="Payment Status"><%= b.statut%> <%= link_to '<i class="fas fa-wine-glass-alt"></i>'.html_safe, edit_cellar_bouteille_path(params[:id],b.id)  %></div>
      </li>
      <% end %>
      <% end %>
    <% end %>
  </ul>

</div>

<div class="wine_list">

  <ul class="responsive-table">
      <li class="table-header">
        <div class="colonne-1">Vins Blancs de <%= @cellar.name %></div>
        <div class="col-2">Domaine</div>
        <div class="col-3">Millesime</div>
        <div class="col-4">Apogée</div>
        <div class="col-5"></div>
      </li>
      <% @cellar.bouteilles.each do |b| %>
      <% if b.statut == nil %>
      <% if b.vin.categorie == "Vin" && b.vin.couleur == "blanc" %>
      <li class="table-row">
        <div class="colonne-1" data-label="Job Id"><%= b.vin.localite  %> <%= b.vin.appellation  %></div>
        <div class="col-2" data-label="Customer Name"> <%= b.vin.domaine  %></div>
        <div class="col-3" data-label="Amount"> <%= b.millesime  %></div>
        <div class="col-4" data-label="Payment Status">
          <% if b.vin.categorie == "Vin" && b.vin.localite =="Alsace" %>
            <%= b.millesime.to_i + 4 %> "+/- 1 an"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Loire Blanc Sec" %>
            <%= b.millesime.to_i + 3 %> "+/- 1 an"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Loire Blanc Moelleux et Liquoreux" %>
            <%= b.millesime.to_i + 15 %> "+/- 5 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Bordeaux Blanc Sec" %>
            <%= b.millesime.to_i + 6 %> "+/- 2 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Bordeaux Blanc Liquoreux" %>
            <%= b.millesime.to_i + 17 %> "+/- 3 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Sud-Ouest Blanc Sec" %>
            <%= b.millesime.to_i + 4 %> "+/- 1 an"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Sud-Ouest Blanc Liquoreux" %>
            <%= b.millesime.to_i + 12 %> "+/- 3 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Languedoc et Provence Blanc" %>
            <%= b.millesime.to_i + 3 %>
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Côtes du Rhône Blanc" %>
            <%= b.millesime.to_i + 3 %> "+/- 1 an"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Bourgogne - Saône et Loire Blanc" %>
            <%= b.millesime.to_i + 4 %>
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Bourgogne - Côte d'Or Blanc" %>
            <%= b.millesime.to_i + 8 %> "+/- 2 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Jura" %>
            <%= b.millesime.to_i + 6 %> "+/- 6 ans"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Alsace" %>
            <%= b.millesime.to_i + 4 %> "+/- 1 an"
          <% else %>
            --
          <% end %>
        </div>
        <div class="col-5" data-label="Payment Status"><%= link_to '<i class="fas fa-wine-glass-alt"></i>'.html_safe, edit_cellar_bouteille_path(params[:id],b.id)  %></div>      </li>
      <% end %>
    <% end %>
    <% end %>
  </ul>

</div>
<div class="wine_list">

  <ul class="responsive-table">
      <li class="table-header">
        <div class="colonne-1">Vins Rosés de <%= @cellar.name %></div>
        <div class="col-2">Domaine</div>
        <div class="col-3">Millesime</div>
        <div class="col-4">Apogée</div>
        <div class="col-5"></div>
      </li>
      <% @cellar.bouteilles.each do |b| %>
      <% if b.statut == nil %>
      <% if b.vin.categorie == "Vin" && b.vin.couleur == "rosé" %>
      <li class="table-row">
        <div class="colonne-1" data-label="Job Id"><%= b.vin.localite  %> <%= b.vin.appellation  %></div>
        <div class="col-2" data-label="Customer Name"> <%= b.vin.domaine  %></div>
        <div class="col-3" data-label="Amount"> <%= b.millesime  %></div>
        <div class="col-4" data-label="Payment Status">
          <% if b.vin.categorie == "Vin" && b.vin.localite =="Languedoc rosé" %>
            <%= b.millesime.to_i + 3 %> "+/- 1 an"
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Provence rosé" %>
            <%= b.millesime.to_i + 3 %>
          <% elsif b.vin.categorie == "Vin" && b.vin.localite =="Rhône rosé" %>
            <%= b.millesime.to_i + 2 %>
          <% else %>
            --
          <% end %>
        </div>
        <div class="col-5" data-label="Payment Status"><%= link_to '<i class="fas fa-wine-glass-alt"></i>'.html_safe, edit_cellar_bouteille_path(params[:id],b.id)  %></div>      </li>
      <% end %>
      <% end %>
    <% end %>
  </ul>

</div>
<div class="wine_list">

  <ul class="responsive-table">
      <li class="table-header">
        <div class="colonne-1">Champagnes de <%= @cellar.name %></div>
        <div class="col-2">Domaine</div>
        <div class="col-3">Millesime</div>
        <div class="col-4">Apogée</div>
        <div class="col-5"></div>
      </li>
      <% @cellar.bouteilles.each do |b| %>
      <% if b.statut == nil %>
      <% if b.vin.categorie == "Champagne" %>
      <li class="table-row">
        <div class="colonne-1" data-label="Job Id"><%= b.vin.localite  %> <%= b.vin.appellation  %></div>
        <div class="col-2" data-label="Customer Name"> <%= b.vin.domaine  %></div>
        <div class="col-3" data-label="Amount"> <%= b.millesime  %></div>
        <div class="col-4" data-label="Payment Status">
          <% if b.vin.categorie == "Champagne" && b.vin.localite =="Champagne" %>
            <%= b.millesime.to_i + 3 %>
          <% else %>
            --
          <% end %>
        </div>
        <div class="col-5" data-label="Payment Status"><%= link_to '<i class="fas fa-wine-glass-alt"></i>'.html_safe, edit_cellar_bouteille_path(params[:id],b.id)  %></div>      </li>
      <% end %>
      <% end %>
    <% end %>
  </ul>

</div>
<div class="wine_list">

  <ul class="responsive-table">
      <li class="table-header">
        <div class="colonne-1">Pétillants de <%= @cellar.name %></div>
        <div class="col-2">Domaine</div>
        <div class="col-3">Millesime</div>
        <div class="col-4">Apogée</div>
        <div class="col-5"></div>

      </li>
      <% @cellar.bouteilles.each do |b| %>
      <% if b.statut == nil %>

      <% if b.vin.categorie == "Petillant" %>
      <li class="table-row">
        <div class="colonne-1" data-label="Job Id"><%= b.vin.localite  %> <%= b.vin.appellation  %></div>
        <div class="col-2" data-label="Customer Name"> <%= b.vin.domaine  %></div>
        <div class="col-3" data-label="Amount"> <%= b.millesime  %></div>
        <div class="col-4" data-label="Payment Status"><%= b.millesime.to_i + 1 %></div>
        <div class="col-5" data-label="Payment Status"><%= link_to '<i class="fas fa-wine-glass-alt"></i>'.html_safe, edit_cellar_bouteille_path(params[:id],b.id)  %></div>      </li>
      <% end %>
      <% end %>
    <% end %>
  </ul>

</div>

<p class="center"><%= link_to "Ajouter une bouteille déjà référencée à la cave", new_cellar_bouteille_path(params[:id]) %></p>

<%= link_to vins_path do %>
  <div class="addwine">
  <%=  image_tag "bouteille.png"%>
  </div>
  <% end %>

