<div class="edit_bottle">

  <div class="etiquette">
    <div class="etiquette_image">
      <%= image_tag "etiquette.png"%>
    </div>
    <div class="bottle_info huge">
      <div class="funky_font hugeX"> <%= @bouteille.vin.appellation.capitalize %>
      </div>
      <br>
      <%= @bouteille.millesime %>
      <br>
      <br>
      <%= @bouteille.vin.localite %>
      <br>
      <%= @bouteille.vin.domaine %>
    </div>
  </div>


    <p> ---- Sortir cette Bouteille de votre Cave ---- </p>  <%= link_to 'Bu'.html_safe, cellar_bouteille_path(params[:id]),
          method: :delete,
          data: { confirm: "Etes-vous sûr de vouloir supprimer cette bouteille ?" }  %>

  <br>
  <br>

    <p>---- Modifier cette bouteille ----</p>

    <p>
      <%= simple_form_for [@cellar, @bouteille] do |b| %>
        <%= b.association :vin, :collection => Vin.all.order(:appellation), :label_method => :complete_denomination, label: 'Appellation'%>
        <%= b.input :millesime %>
        <%= b.submit "Modifier", class: "btn btn-secondary btn-sm colorful" %>
      <% end %>
    </p>

