<div class="navbar-vin">
  <%= link_to cellars_path do %>
  <h1 class="navbar-font">Les caves de Jean L.</h1>
  <% end %>
  <%= link_to vins_path do %>
  <div class="addwine">
  <%=  image_tag "bouteille.png"%>
  </div>
  <% end %>
</div>

<h1>Voici la liste des bouteilles de <%= @cellar.name %></h1>


<ul> <% @bouteilles.each do |b| %>
  <li>
    <%= b.millesime %> - <%= b.vin.appellation %>
  </li>
<% end %>
</ul>

