<div class="navbar-vin">
  <%= link_to root_path do %>
  <h1 class="navbar-font">Le Vin de Monsieur Jean</h1>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div>
          <%= link_to cellars_path do %>
          <%= image_tag "logo.png", class: "siginimage", id: "navbar-wagon-menu" %>
          <% end %>
        </div>
      </div>
       <div class = "login">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
      <% end %>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <div class="login">
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
    <% end %>
  </div>

</div>

