<div class="navbar-vin">
  <%= link_to cellars_path do %>
  <h1 class="navbar-font">Les caves de Jean L.</h1>
  <% end %>
  <%= link_to vins_path do %>
  <div class="addwine">
  <%=  image_tag "bouteille.png"%>
  </div>
  <% end %>
</div>

<h1>Liste des vins référencés</h1>

 <% @vins.order("appellation asc").each do |v| %>
<ul>
  <li><%= v.appellation %> - <%= v.couleur %></li>
</ul>
<% end %>

<p>
  <%= link_to "Référencer un nouveau vin", new_vin_path %>
</p>

<p>
Ajouter une bouteille de ces vins à l'un de vos caves



</p>

<%= link_to "#{Cellar.first.name}", new_cellar_bouteille_path(Cellar.first)  %>
<br>
<%= link_to "#{Cellar.second.name}", new_cellar_bouteille_path(Cellar.first)  %>
