<div class="navbar-vin">
  <%= link_to cellars_path do %>
  <h1 class="navbar-font">Le Vin de Monsieur Jean</h1>
  <% end %>
  <%= link_to vins_path do %>
  <div class="addwine">
  <%=  image_tag "bouteille.png"%>
  </div>
  <% end %>
</div>



<div class="wine_manager">

  <div class="left_part">

    <div class="liste">
      <h3 class="alignement">Vins référencés</h3>
      <% @vins.order("localite asc").order("appellation asc").each do |v| %>
        <ul>
          <li><%= v.categorie.upcase%> <%= v.localite.upcase %> <%= v.appellation %> <%= v.domaine %> <i><%= v.couleur %></i> <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, vin_path(v.id),
              method: :delete,
              data: { confirm: "Etes-vous sûr de vouloir supprimer ce vin ?" }  %>
          </li>
        </ul>
      <% end %>
    </div>

    <div class="action_part">
    <%= link_to "Nouveau", new_vin_path %>
    </div>

  </div>

  <div class="right_part">
    <h3>Ajouter en Cave</h3>
    <% @user.cellars.each do |c| %>
    <div class="cave_button funky_font"><%= link_to "#{c.name}", new_cellar_bouteille_path(c)  %></div>
    <% end %>
  </div>

</div>


